<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction Master</title>
</head>
<body>
    <form action="/groupallot" method="POST">

        <label for="team">Team Number</label>
        <input type="number" name="team" id="">

        <label for="group">Group Number</label>
        <input type="number" name="group" id="">

        <label for="price">Price</label>
        <input type="number" name="price" id="">

        <button type="submit">Submit</button>

    </form>
</body>
</html>